*{
    margin: 0;
    padding: 0;
    background-color: pink;
}

nav {
    background-color: pink;
    border-radius: 2px black solid;
    font-size: 2rem;
}

ul{
    display: flex;
}

ul li {
    padding: 4px;
    list-style: none;
}

h1{
 font-size: 3rem;
}